* {
    font-family: 'Poppins', sans-serif;
    line-height: 0;
}

body {
    margin: 10rem 10rem;
}

h1 {
    font-weight: 600;
    font-size: 40px;
}

h2 {
    font-weight: 500;
    margin: 2.5rem 0;
}

p {
    font-weight: 300;
}

.scoring {
  font-size: 60px;
  left: auto;
  right: auto;
  margin: 0;
  padding: 0;
  border: 2px solid green;
  border-radius: 20%;
}



/*BUSQUEDA*/

* {
    box-sizing: border-box;
  }
  
  body {
    font: 16px 'Poppins';  
  }
  
  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  input[type=submit] {
    background-color: rgb(98, 156, 221);
    border: 2px solid rgb(98, 156, 221);
    color: white;
    cursor: pointer;
    padding: 1.3rem;
    margin-left: 1rem;
  }

  input[type=submit]:hover {
    background-color: white;
    color: rgb(98, 156, 221);
    transition: 0.3s
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 20px;
    cursor: pointer;
    background-color: white;
    color: rgb(98, 156, 221);
    border-bottom: 1px solid #d4d4d4; 
    border: 1px solid rgb(98, 156, 221);
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: rgb(98, 156, 221);
    transition: 0.3s;
    color: white;
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: rgb(98, 156, 221) !important; 
    color: #ffffff; 
  }
