* {
    font-family: 'Lato', sans-serif;
    margin: 0rem;
    color: #003E99;
}

body h1 {
  font-size: 22px;
}

body p{
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #003E99;
}

a:hover {
  color: #5287D5;
}

a:visited {
  color: #003E99;
}

button {
  background-color: #003E99;
  border: 2px solid #003E99;
  color: white;
  padding: 10px 20px;
  border-radius: 7px;
  transition: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: white;
  border: 2px solid #003E99;
  color: #003E99;
  transition: 0.4s;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.subtitle {
  font-size: 14px;
  color: #FFA401;
  margin-top: 0px;
}

#menu {
  display:flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 70px;
}

#menu-left {
  margin-left: 108px;
  line-height: 18px;
}

#menu-right {
  display: inline;
  margin-right: 108px;
  margin-top: 9px;
}

#menu-right a{
  margin-left: 108px;
  text-decoration: underline solid transparent;
  transition: text-decoration 0.5s ease;
  transition: 0.5s;
}

#menu-right a:hover{
  text-decoration: underline solid currentColor;
  transition: text-decoration 0.5s ease;
  transition: 0.5s;
  color: #5287D5;
}

#contenido {
  margin-left: 108px;
  height: 150vh;
}

.graficos {
  display: flex;
  justify-content: space-between;
}

#pie {
  margin-left: 108px;
}

.scoring{
  font-size: 60px;
  padding: 0px;
  width: 5.5rem;
  height: 6.3rem;
  margin: 0.5rem 0;
  background-color: rgb(17, 102, 17);
  border: 2px solid rgb(17, 102, 17);
  color: white;
  transition: 0.3s;
  border-radius: 20%;
}

.scoring:hover{
  color:rgb(17, 102, 17);
  background-color: white;
  border: 2px solid rgb(17, 102, 17);
  transition: 0.3s;
}

.scoring.B {
  background-color: rgb(154, 205, 50);
  border: 2px solid rgb(154, 205, 50);
}

.scoring.B:hover {
  color:yellowgreen;
  background-color: white;
  border: 2px solid yellowgreen;
}

.scoring.C {
  background-color: rgb(240, 217, 11);
  border: 2px solid rgb(240, 217, 11);
}

.scoring.C:hover {
  color:rgb(240, 217, 11);
  background-color: white;
  border: 2px solid rgb(240, 217, 11);
}

.scoring.D {
  background-color: rgb(240, 129, 2);
  border: 2px solid rgb(240, 129, 2);
}

.scoring.D:hover {
  color:rgb(240, 129, 2);
  background-color: white;
  border: 2px solid rgb(240, 129, 2);
}

.scoring.E {
  background-color: rgb(255, 0, 0);
  border: 2px solid red;
}

.scoring.E:hover {
  color:red;
  background-color: white;
  border: 2px solid red;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 93%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}