* {
    font-family: 'Lato', sans-serif;
    margin: 0rem;
    color: #003E99;
    transition: all .2s ease;
}

body h1 {
  font-size: 22px;
}

body p{
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #003E99;
}

a:hover {
  color: #5287D5;
}

a:visited {
  color: #003E99;
}

button {
  background-color: #003E99;
  border: 2px solid #003E99;
  color: white;
  padding: 10px 20px;
  border-radius: 7px;
  transition: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: white;
  border: 2px solid #003E99;
  color: #003E99;
  transition: 0.4s;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.subtitle {
  font-size: 14px;
  color:  #CC9905;
  margin-top: 0px;
}

fieldset{
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border: #003E99 2px solid;
  border-radius: 10px;
}

.tabcontent fieldset {
  /* margin-left: 200px; */
  width: 1200px;
}

.mostrar-contraseña{
  position: relative;
  width: 150px;
  height: 35px;
  font-size: 10px;
}

#buscador {
  display: flex;
  justify-content: space-between;
}

.textoBuscador{
  padding-left: 200px;
  width: 400px;
}

.barraBuscador{
  padding-left: 300px;
  padding-top: 4px;
  padding-right: 270px;
}

#cabecera {
  position: fixed;
  height: 90px;
  width: 100%;
  left: 0;
  top: 0;
  background: #D8E8E9;
}

#cabeceraIni {
  position: fixed;
  height: 90px;
  width: 100%;
  left: 0;
  top: 90px;
  background: #D8E8E9;
}

#menu {
  display:flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 70px;
}

#menu-left {
  margin-left: 108px;
  line-height: 18px;
}

#menu-right {
  display: inline;
  margin-left: 109px;
  margin-top: 9px;
}

#menu-right a{
  margin-left: 198px;
  text-decoration: underline solid transparent;
  transition: text-decoration 0.5s ease;
  transition: 0.5s;
}

#menu-right a:hover{
  text-decoration: underline solid currentColor;
  transition: text-decoration 0.5s ease;
  transition: 0.5s;
  color: #5287D5;
}

#menu-superior{
  position: fixed;
  background-color: white;
  height: 9.5vh;
  width:100%;
  height:90px;
}

#contenido {
  margin-left: 120px;
  margin-right: 108px;
  height: 20vh;
  padding-top: 250px;
}

#contenidoConsultas {
  margin-left: 120px;
  margin-right: 108px;
  height: 100vh;
  padding-top: 250px;
}

#contenidoIni {
  position: fixed;
  margin-left: 108px;
  margin-right: 108px;
  height: 5vh;
  padding-top: 20px;
}

#contenidoCCAA {
  margin-left: 108px;
  margin-right: 108px;
  height: 535vh;
  padding-top: 210px;
}

#contenidoDIP {
  margin-left: 108px;
  margin-right: 108px;
  height: 440vh;
  padding-top: 210px;
}

#contenidoMUN {
  margin-left: 108px;
  margin-right: 108px;
  height: 445vh;
  padding-top: 210px;
}

.graficos {
  display: flex;
  justify-content: space-between;
}

.type_chart {
  margin: 320px 0 0 -680px;
}

#consultaCCAA,
#consultaDIP,
#consultaMUN {
  height: 180vh;
  padding-top: 100px;
  margin-left: 108px;
  margin-right: 108px;
}

#pie {
  position: fixed;
  bottom: 0;
  padding-left: 108px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  color: white !important;
  background-color: #003E99;
}

.scoring{
  font-size: 60px;
  padding: 0px;
  width: 5.5rem;
  height: 6.3rem;
  margin: 0.5rem 0;
  background-color: rgb(17, 102, 17);
  border: 2px solid rgb(17, 102, 17);
  color: white;
  transition: 0.3s;
  border-radius: 20%;
}

.scoring:hover{
  color:rgb(17, 102, 17);
  background-color: white;
  border: 2px solid rgb(17, 102, 17);
  transition: 0.3s;
}

.scoring.B {
  background-color: rgb(154, 205, 50);
  border: 2px solid rgb(154, 205, 50);
}

.scoring.B:hover {
  color:yellowgreen;
  background-color: white;
  border: 2px solid yellowgreen;
}

.scoring.C {
  background-color: rgb(240, 217, 11);
  border: 2px solid rgb(240, 217, 11);
}

.scoring.C:hover {
  color:rgb(240, 217, 11);
  background-color: white;
  border: 2px solid rgb(240, 217, 11);
}

.scoring.D {
  background-color: rgb(240, 129, 2);
  border: 2px solid rgb(240, 129, 2);
}

.scoring.D:hover {
  color:rgb(240, 129, 2);
  background-color: white;
  border: 2px solid rgb(240, 129, 2);
}

.scoring.E {
  background-color: rgb(255, 0, 0);
  border: 2px solid red;
}

.scoring.E:hover {
  color:red;
  background-color: white;
  border: 2px solid red;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 93%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.dataTable td {
  width:12%;
}
.dataTable th{
  height: 40px;
}

.dataTable .darkgreenCell {
  background-color:rgb(22, 163, 22);
}

.dataTable .greenCell {
  background-color:rgb(0, 255, 0);
}

.dataTable .lightgreenCell {
  background-color:rgb(153, 197, 64);
}

.dataTable .orangeCell {
  background-color:rgb(240, 129, 2);
}

.dataTable .redCell {
  background-color:rgb(255, 0, 0);
}

.dataTable .greyCell {
  background-color:grey;
}

.ratingCell {
  width:6%;
  text-align: center;
}

/* BOTÓN INFO*/
.celda-endeudamiento{
  display: grid;
  grid-template-columns: 120px auto auto;
}

.celda-sostenibilidad-financiera{
  display: grid;
  grid-template-columns: 185px auto auto;
}

.celda-apalancamiento{
  display: grid;
  grid-template-columns: 120px auto auto;
}

.celda-sostenibilidad-deuda{
  display: grid;
  grid-template-columns: 190px auto auto;
}

.celda-remanente{
  display: grid;
  grid-template-columns: 310px auto auto;
}

.celda-liquidez-inmediata{
  display: grid;
  grid-template-columns: 140px auto auto;
}

.celda-solvencia-corto{
  display: grid;
  grid-template-columns: 160px auto auto;
}

.celda-eficiencia{
  display: grid;
  grid-template-columns: 75px auto auto;
}

.celda-ejecucion-ingresos{
  display: grid;
  grid-template-columns: 215px auto auto;
}

.celda-ejecucion-gastos{
  display: grid;
  grid-template-columns: 205px auto auto;
}

.celda-pmp{
  display: grid;
  grid-template-columns: 180px auto auto;
}

.celda-pagos-obligaciones{
  display: grid;
  grid-template-columns: 285px auto auto;
}

.celda-eficacia-recaudatoria{
  display: grid;
  grid-template-columns: 165px auto auto;
}

.celda-presupuesto{
  display: grid;
  grid-template-columns: 165px auto auto;
}

.extra-info {
  display: none;
  font-size: 12px;
	position: relative;
  top: -18px;
  left: 20px;
  color: white;
}

.info:hover .extra-info{
  display: block;
}

.info-apalancamiento:hover .extra-info{
  display: block;
}

.info-sostenibilidad-deuda .extra-info{
  display: block;
}

.info, .info-apalancamiento, .info-sostenibilidad-deuda{
  font-size: 20px;
  padding-left: 5px;
  height: 25px;
  width: 600px;
  border-radius: 15px;
}

.info-apalancamiento {
  width: 520px;
}

.info-sostenibilidad-deuda{
  width: 300px;
}

.info:hover, .info-apalancamiento:hover, .info-sostenibilidad-deuda:hover{
  position:relative;
  background-color: #003E99;
  padding: 0 0 0 5px;
  text-align: left !important;
}

input {
  color: #003E99;
  border: #003E99 2px solid;
  border-radius: 5px;
}

input::placeholder {
  color: #5287D5;
}

.autocomplete {
  width:530px;
}

.autocomplete-items{
  margin-top: 5px;
  cursor:pointer;
  min-height: 201px;
  max-height: 200px;
  overflow-y:scroll;
}

.lista-autocompletar{
  color:#003E99;
}

.lista-autocompletar:hover{
  color:#003E99;
}

.elementos{
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: white;
  border: solid 1px #dbe7f8;
  font-weight: 500;
  border-radius: 0px;
  margin-top:0px;
  margin-bottom:-1px;
  margin-right:4px;
  transition: 0.2s;
}

.autocomplete-active{
  background-color: #D8E8E9;
}

.elementos:hover {
  background-color: #dbe7f8;
  color: #5287D5;
  transition: 0.2s;
}

/* ::-webkit-scrollbar {
  width: 7px;
  height: 30px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: white; 
} */
 
/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #003E99; 
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #003E99; 
} */

input#facility{
  border: solid 3px #003E99;
  color: #003E99;
  font-weight: 900;
  border-radius: 7px;;
  height: 30px;
  width: 400px;
  padding-left: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #003E99;
  font-weight: 700;
  opacity: 5; /* Firefox */
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 2px solid #003E99;
  border-radius: 10px;
  background-color: #D8E8E9;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border-radius: 0;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #5287D5; 
  color: white;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #003E99; 
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 2px solid #003E99;
  border-radius: 5px;
  border-top: none;
}

/* Hide the radio content when it is not pressed */
.sel, .selDIP, .selMUN {
  display:none;
}