* {
    font-family: 'Poppins', sans-serif;
    line-height: 0;
}

body {
    margin: 10rem 20rem;
}

h1 {
    font-weight: 600;
    font-size: 40px;
}

h2 {
    font-weight: 500;
    margin: 2.5rem 0;
}

h3 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 1.5rem;
}

p {
    font-weight: 400;
    margin-bottom: 2rem;
}

.scoring{
  font-size: 60px;
  padding: 0px;
  width: 5.5rem;
  height: 6.3rem;
  margin: 2rem 0;
  background-color: rgb(17, 102, 17);
  border: 2px solid rgb(17, 102, 17);
  color: white;
  transition: 0.3s;
  border-radius: 20%;
}

.scoring:hover{
  color:rgb(17, 102, 17);
  background-color: white;
  border: 2px solid rgb(17, 102, 17);
  transition: 0.3s;
}

.scoring.B {
  background-color: yellowgreen;
  border: 2px solid yellowgreen;
}

.scoring.B:hover {
  color:yellowgreen;
  background-color: white;
  border: 2px solid yellowgreen;
}

.scoring.C {
  background-color: rgb(240, 217, 11);
  border: 2px solid rgb(240, 217, 11);
}

.scoring.C:hover {
  color:rgb(240, 217, 11);
  background-color: white;
  border: 2px solid rgb(240, 217, 11);
}

.scoring.D {
  background-color: rgb(240, 129, 2);
  border: 2px solid rgb(240, 129, 2);
}

.scoring.D:hover {
  color:rgb(240, 129, 2);
  background-color: white;
  border: 2px solid rgb(240, 129, 2);
}

.scoring.E {
  background-color: red;
  border: 2px solid red;
}

.scoring.E:hover {
  color:red;
  background-color: white;
  border: 2px solid red;
}